<a href="https://colab.research.google.com/github/NWOYESTEPEHN/api-youtube-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
#import libraries
import requests
import pandas as pd
import time

In [24]:
#key
API_KEY = "AIzaSyADCb97PoGuk3sewvvmeb_COGisPRI_UyU"
CHANNEL_ID = "UCW8Ews7tdKKkBT6GdtQaXvQ"

In [25]:
#make API call
pageToken = ""
url = "https://www.googleapis.com/youtube/v3/search?key="+API_KEY+"&channelId="+CHANNEL_ID+"&part=snippet,id&order=date&maxResults=10000"+pageToken

response = requests.get(url).json()

In [26]:
response['items'][1]

{'kind': 'youtube#searchResult',
 'etag': 'VtKLUuDytFoYeE1x3KHE76cb7a8',
 'id': {'kind': 'youtube#video', 'videoId': 'bppeYE-VUSQ'},
 'snippet': {'publishedAt': '2022-10-31T02:00:07Z',
  'channelId': 'UCW8Ews7tdKKkBT6GdtQaXvQ',
  'title': 'Data Science Interview Simple Tips: How to Answer the Additional Question',
  'description': "In this video, we're going to discuss a few tips that will help you answer the additional question during the coding interview.",
  'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/bppeYE-VUSQ/default.jpg',
    'width': 120,
    'height': 90},
   'medium': {'url': 'https://i.ytimg.com/vi/bppeYE-VUSQ/mqdefault.jpg',
    'width': 320,
    'height': 180},
   'high': {'url': 'https://i.ytimg.com/vi/bppeYE-VUSQ/hqdefault.jpg',
    'width': 480,
    'height': 360}},
  'channelTitle': 'StrataScratch',
  'liveBroadcastContent': 'none',
  'publishTime': '2022-10-31T02:00:07Z'}}

In [33]:
#build our dataframe
df = pd.DataFrame(columns=["video_id","video_title","upload_date","view_count","like_count","comment_count"])

In [34]:
df

Empty DataFrame
Columns: [video_id, video_title, upload_date, view_count, like_count, comment_count]
Index: []

In [36]:
for video in response['items']:
      if video['id']['kind'] == "youtube#video":
          video_id = video['id']['videoId']
          video_title = video['snippet']['title']
          video_title = str(video_title).replace("&amp;","")
          upload_date = response['items'][0]['snippet']['publishedAt']
          upload_date = str(upload_date).split('T')[0]
          
          #collecting view
          url_video_stats = "https://www.googleapis.com/youtube/v3/videos?id="+video_id+"&part=statistics&key="+API_KEY
          response_video_stats = requests.get(url_video_stats).json()
          
          view_count = response_video_stats['items'][0]['statistics']['viewCount']
          like_count = response_video_stats['items'][0]['statistics']['likeCount']
          comment_count = response_video_stats['items'][0]['statistics']['commentCount']

          #save data in pandas df
          df = df.append({'video_id':video_id,'video_title':video_title,
                          "upload_date":upload_date,"view_count":view_count,
                          "like_count":like_count,
                          "comment_count":comment_count},ignore_index=True)

In [37]:
df

,video_id,video_title,upload_date,view_count,like_count,comment_count
0,RmMuS5iiviI,Python Pandas Techniques In A Meta Data Scienc...,2022-11-03,644,27,0
1,bppeYE-VUSQ,Data Science Interview Simple Tips: How to Ans...,2022-11-03,390,22,0
2,0EKPN19Y9MA,How many Twitch viewers became streamers? A SQ...,2022-11-03,226,10,0
3,vQmk0bH25d0,[Part 2] EDGE Cases in Data Analysis: How to R...,2022-11-03,319,3,0
4,M-dT_0m4qhI,SQL interview: How many Twitch viewers became ...,2022-11-03,1249,45,1
5,rEaSskQhId4,[Part 1] How to Solve an Amazon Python Intervi...,2022-11-03,411,13,0
6,8IIryKHheYw,(Part 3) How to Formulate the Approach for Sol...,2022-11-03,195,3,0
7,yQSZT65WET4,A Python Coding Interview Question From Amazon,2022-11-03,906,40,5
8,OMHbYrL09io,A/B Testing (A) Interview Questions or (B) for...,2022-11-03,523,19,0
9,SGDchcWjaTA,(Part 2) Deepen Your Understanding of Data wit...,2022-11-03,525,21,0
10,9av7jQ9MA44,A/B Testing Concepts To Know For Data Science,2022-11-03,1646,95,4
11,nh2nLDpxDFI,(Part 1) Meta SQL Interview Question: Identify...,2022-11-03,459,26,0
12,Q-3wvYInCeI,Meta SQL Interview Question - A Step-By-Step S...,2022-11-03,3027,98,10
13,0cYfw5mWJ-E,How to Perform Data Analysis with Python for F...,2022-11-03,482,30,5
14,sVdNVgtpkD4,A Python Project to Solve Your Debt Problems,2022-11-03,4544,165,18
15,M4shTrIgXs0,3 Simple Steps to Solve Noom SQL Interview Que...,2022-11-03,390,11,1
16,5Lpbw71xR3o,Framework to Solve Noom Advanced SQL Interview...,2022-11-03,2052,70,0
17,gtHI672Tlbw,DoorDash Medium Level SQL Interview Question,2022-11-03,712,26,2
18,DmUR2QSNUq8,DoorDash Data Science SQL Interview Question W...,2022-11-03,2097,68,7
19,OLG6_EHMhFk,The One Thing That Keeps Data Scientists Up-to...,2022-11-03,659,51,4
20,0EoaJE3ePcE,Use STRING_AGG Function to Solve SQL Questions,2022-11-03,2368,100,4
21,JDOAcKTy9Mk,Top 5 Data Science Project Ideas in 2022 to St...,2022-11-03,2800,152,13
22,o8cFJmI50Dw,STRING_AGG Function to Solve Data Science Inte...,2022-11-03,1708,61,7
23,ggZzHnzYH1s,How To Use Python Window Functions | Solving A...,2022-11-03,2950,125,8
24,8zeLdtkY2CQ,Data Science Mock Interview | Salesforce SQL C...,2022-11-03,6202,171,23
25,tnoOz6MzTPg,Python cumsum() | Solving Python Optimization ...,2022-11-03,2614,83,13
26,OzyHfddLj9g,How to Solve a SQL Interview Question Using WH...,2022-11-03,7320,154,13
27,jN5hpgBrz8k,Dealing With Python Date Manipulations In a Me...,2022-11-03,5482,162,23
28,yFyyP_Uvxj0,How To Solve Data Science Probability Intervie...,2022-11-03,3891,119,4
29,Av92CaPTRr8,How to use SQL window functions: RANK vs DENSE...,2022-11-03,5170,126,8
30,VEjxlKBkZGM,Amazon Data Science Interview Question Walkthr...,2022-11-03,9573,255,31
31,hMUf7DqG1nQ,SQL Basics: How to Join Multiple Tables in SQL...,2022-11-03,5596,122,6
32,ToEl_tpyoM4,Uber Data Science Python Interview Question Wa...,2022-11-03,20379,497,27
33,30hS-MjpU6E,SQL Syntax Best Practices: How to Structure Yo...,2022-11-03,15196,628,50
34,Bgpp99iz0I0,Most Common Coding Mistakes on Data Science In...,2022-11-03,5128,219,32
35,GeJUvdkJKEc,Multiple Solutions to Data Scientist Interview...,2022-11-03,10417,275,46
36,GGURenNfXI0,Multiple Approaches for Solving a Twitter Data...,2022-11-03,5644,206,34
37,PlpUo6bHsBQ,Advanced Facebook Data Science SQL interview q...,2022-11-03,26579,795,79
38,uY2wfR8Dkqo,5 Tips for a Successful Data Science Interview,2022-11-03,12536,303,40
39,yY7yau9j3xk,Data Science SQL Scenario Based Interview Ques...,2022-11-03,7681,187,32
40,i-E4pdU2qXM,Data Science SQL Interview Question Walkthroug...,2022-11-03,9045,325,24
41,T1UhSuKqy3A,Most Common Data Science SQL Interview Questio...,2022-11-03,15199,497,42
42,2iE3JgNTwVU,A Walkthrough of Data Science SQL Interview Qu...,2022-11-03,5954,182,30
43,RgKMbpEylWA,Comparing FAANG vs Non-FAANG Data Science Inte...,2022-11-03,3263,109,14
44,giGIPINLqJs,An Analysis of 900 Data Science Interview Ques...,2022-11-03,4681,193,12
45,77IVf0zgmwI,Importing a Pandas Dataframe to a Database in ...,2022-11-03,27207,828,91
46,xtbMCAVXDmU,Facebook and Microsoft Data Science SQL interv...,2022-11-03,10533,302,60
47,fklHBWow8vE,Working with APIs in Python [For Your Data Sci...,2022-11-03,68275,2932,167
48,tNXliLTlrV8,Step-by-step Approach to Solving Any Data Scie...,2022-11-03,12092,416,36